#app {
  height: 100vh;
  padding: 10px;
  background-color: #ECE9E7;
  
  > section {
    margin-bottom: 40px;
  }
}

section.dropdowns {
  > div {
    margin-bottom: 20px;
  }
  
  #dd1, #dd2 {
    width: 14em;
  }
}

.cpDropdown-root {
  position: relative;
  cursor: pointer;
  letter-spacing: 2px;
}

.cpDropdown-control {
  padding: 10px;
  
  span {
    position: relative;
    top: 4px;
  }
}

.cpDropdown-menu {
  border-top: 1px solid #fafafa;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.cpDropdown-option {
  padding: 10px;
  color: #6a6a6a;
  background-color: #fff;
  cursor: pointer;
  transition: background-color .25s ease;
}

.cpDropdown-option.is-selected {
  // display: none;
  color: #fff;
  background-color: #dda78e;
}

.cpDropdown-option:hover {
  color: #fff;
  background-color: #dda78e;
}

.cpOption-item {
  display: inline-block;
  margin: 0 4px 4px 0;
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
}
.cpOption-item.is-selected {
  color: #fff;
  background-color: #dda78e;
}

.cpSelectedFields-root {
  position: relative;

  .cpSelectedFields-selections {
    // display: inline-block;
    position: relative;
  }
  
  .cpSelectedFields-selection {
    position: relative;
    .cpSelectedFields-hoverInfo {
      left: 25%;
      top: -70%;
      position: absolute;
      padding: 6px;
      z-index: 1000;
      color: #dda78e;
      letter-spacing: 2px;
      text-transform: uppercase;
      border: 1px solid #f0f0f0;
      background-color: #fff;
    }
  }
  
  .cpSelectedFields-item {
    position: relative;
    display: inline-block;
    margin: 0 0px 4px 0;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    
     &.is-selected {
      color: #fff;
      background-color: #dda78e;
    }
  }  
}


